@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Pocketmon';
    src: url('/fonts/PocketMonk.ttf') format('truetype');
  }

  body{
    color: #fff;
    background-color: #1a202c;
  }
  
  .pokefont {
    font-family: 'Pocketmon', sans-serif;
    color: #FFDE00;
    -webkit-text-stroke: .5px #CC0000;
    letter-spacing: 2px;
  }

